# Gradle cache folder
.gradle

# Idea configuration folder
.idea

# Kotlin cache folder & files
.kotlin
kotlin-playground/src/main/kotlin/com/kotlin/playground/FunGround.kt

# Build output folder
.build